.footer {
    background-color: #001f3f; /* Placeholder dark blue color */
    color: #fff;
    padding: 40px 20px;
    text-align: center;
    width: 100%;
}

.footer-icons {
    height: 70px;
    margin-top: 40px;
    position: absolute;
}

.footer-content {
    display: flex;
    justify-content: center;
    gap: 100%;
    width: 100%;
    margin-bottom: 10px;
}

.footer-icons, .social-media {
    display: flex;
    justify-content: center;
    gap: 100%;
    width: 100%;
}

.footer-icons span, .social-media span {
    font-size: 20px;
}

.footer-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.email{
    align-self: center;
    height: 30px;
}

.website{
    align-self: center;
    height: 50px;
}