.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    background-color: #fff;
    border-bottom: 1px solid #ddd;
    width: 100%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    z-index: 1000;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px 20px;
    width: 100%;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: #000;
}

.logo span {
    color: #ffb600; /* Placeholder color for the "CREATIVE" part */
}

.nav-links {
    display: flex;
    gap: 20px;
}

.nav-links li {
    list-style: none;
    cursor: pointer;
    font-size: 20px;
}
